.main
{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
}

.menu
{
    position: fixed;
    width: 20%;
    
}

.body
{
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 13%;
    white-space: nowrap;
    overflow-y: scroll;
}

.body::-webkit-scrollbar
{
    width: 0;
}

/* *
{
    border: 1px solid red;
} */


.menu a:hover
{
    transition: 1s ease;
    background-color: var(--textcolor);
    letter-spacing: 4px;
}

#logo
{
    color: var(--secondary);
    font-size: 40px;
    letter-spacing: 4px;
    padding: 15px;
}

.menu a
{
    text-decoration: none;
    color: var(--secondary);
    font-size: 25px;
    letter-spacing: 2px;
    display: list-item;
    list-style: none;
}

.content
{
    display: none;
}

